<% layout('boilerplate') %>
<div class="container-fluid mt-5 mb-5 pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-6 ">
            <form action="/admin9196/login" method="POST">
                <div>
                    <label class="form-label mb-0" for="username">Username:</label>
                    <input class="form-control" type="text" id="admin" name="username">
                </div>
                <div>
                    <label class="form-label mb-0 mt-2" for="password">Passwrod:</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-lg shadow logBtn" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
   

 