<nav id="mainNavbar" class="navbar sticky-top navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="/"><img class="logo" src="/images/logoSVG.svg" alt=""></a>
    <button id="toggler" class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle">
      <span id="" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse text-center navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ps-xl-5 pb-4 pb-xl-0 ms-auto">
        <a class="nav-link me-xl-3" href="/">Home</a>
        <a class="nav-link me-xl-3" href="/#faqs">FAQ's</a>
        <a class="nav-link" href="/blog">Blog</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){%>
        <a class="nav-link me-1" data-bs-toggle="modal" data-bs-target="#loginModal" type="button">Login</a>
        <a class="nav-link regBtn" type="button" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
        <% } else {%>
        <a class="nav-link me-1" href="/plan/<%= currentUser._id %>">Dashboard</a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(function () {
    $(document).scroll(function () {
      const $nav = $("#mainNavbar");
      $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
      $nav.toggleClass("navbar-dark", $(this).scrollTop() > $nav.height());
    });
  });
</script>