<% layout('boilerplate') %>
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <h3>Please enter your email address</h3>
                <form action="/forgotPassword" class="validated-form" method="POST" novalidate>
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter valid email address.
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn shadow btn1" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
