<% layout('boilerplate') %>

    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5">
                    <h3>Set Your new password</h3>
                    <form action="/forgotPassword/<%= user._id %>/<%= user.secret %>?_method=PATCH"
                        class="validated-form" method="POST" novalidate>
                        <div>
                            <label class="form-label" for="newPswd">New Password</label>
                            <input class="form-control" aria-describedby="validationPswd" type="password"
                                name="newPassword" id="newPassword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div id="validationPswd" class="invalid-feedback">
                                Password must be 6 to 20 characters long.
                            </div>
                        </div>
                        <div>
                            <label class="form-label" for="repeatNewPswd">Repet Password</label>
                            <input class="form-control" aria-describedby="validationRptPswd" type="password"
                                name="repeatPassword" id="repeatNewPassword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div id="validationRptPswd" class="invalid-feedback">
                                Password does not match.
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn1 shadow" id="newPassBtn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const newPassword = document.getElementById('newPassword');
        const repeatNewPassword = document.getElementById('repeatNewPassword');
        const newPassBtn = document.getElementById('newPassBtn');

        newPassBtn.addEventListener('click', (event) => {
            if (newPassword.classList.contains('is-invalid') || repeatNewPassword.classList.contains('is-invalid')) {
                event.preventDefault()
                event.stopPropagation()
            }
        })

        newPassword.addEventListener('change', (event) => {
            if (event.target.value.length < 6 || event.target.value.length > 20) {
                event.target.classList.add('is-invalid')
                event.target.classList.remove('is-valid')
                if (event.target.value !== repeatNewPassword.value) {
                    repeatNewPassword.classList.add('is-invalid')
                    repeatNewPassword.classList.remove('is-valid')
                }
            }
            else {
                event.target.classList.remove('is-invalid')
                event.target.classList.add('is-valid')
                if (event.target.value !== repeatNewPassword.value) {
                    repeatNewPassword.classList.add('is-invalid')
                    repeatNewPassword.classList.remove('is-valid')
                }
            }
        })

        repeatNewPassword.addEventListener('change', (event) => {
            if (event.target.value !== newPassword.value) {
                event.target.classList.add('is-invalid')
                event.target.classList.remove('is-valid')
            } else {
                event.target.classList.remove('is-invalid')
                event.target.classList.add('is-valid')
            }
        })
    </script>