<% layout('boilerplate') %>
<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h5>Please fill in the missing data:</h5>
            <form class="validated-form" action='/plan/<%= user._id %>?_method=PUT' method="POST" novalidate>
                <div>
                    <label class="form-label" for="dob">Date of Birth:</label>
                    <input class="form-control" type="date" id="dob" name="dob" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter Your date of birth.
                    </div>
                </div>
                <div>
                    <label class="form-label" for="gender">Gender:</label>
                    <select class="form-control" name="gender" id="gender" required>
                        <option value="">--Please choose an option--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter Your gender.
                    </div>
                </div>
                <div>
                    <label class="form-label mt-2 mb-0" for="unit">Unit:</label>
                    <select class="form-select form-control" name="unit" id="unit" required>
                        <option value="">--Please choose an option--</option>
                        <option value="metric">Metric</option>
                        <option value="imperial">Imperial</option>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose system of units.
                    </div>
                </div>
                <div>
                    <div id="heightMe" class="hide">
                        <label class="form-label mt-2 mb-0" for="height">Height (cm):</label>
                        <input class="form-control" type="number" name="height" id="height" required>
                    </div>
                    <div id="heightIm" class="hide mb-0 mt-2">
                        <label class="form-label d-block mt-2 mb-0" for="height1">Height (foot,inch):</label>
                        <input class="form-control imperial d-inline" min="1" max="9" type="number" placeholder="foot"
                           id="height1" required>
                        <input class="form-control  imperial d-inline" min="1" max="11" step=".01" type="number" 
                            placeholder="inch" id="height2" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter Your height.
                    </div>
                </div>
               
                <button type="submit" class="btn btn-lg shadow  mt-2">Save</button>
            </form>  
        </div>
    </div>
</div>

<script src="/js/units.js"></script>

<%- include('../partials/footer') %>

            